#!/bin/sh

if [ $(echo "$XDG_SESSION_DESKTOP" | tr [:upper:] [:lower:]) = emacs ]; then
    autorandr --change &> /dev/null
    ~/.emacs.d/misc/resolution.el
    if [ $? = 1 ]; then
        export GDK_SCALE=2
        export QT_SCALE_FACTOR=2
    fi
    export _JAVA_AWT_WM_NONREPARENTING=1
fi
